In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split, KFold
from sklearn.tree import DecisionTreeClassifier

In [2]:
path = 'https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/iris.csv'

dfa = pd.read_csv(path)

In [3]:
dfa.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [4]:
np.random.seed(0)
samples = np.random.randint(0, len(dfa), 10)

dfa_test = dfa.iloc[samples]
dfa = dfa.drop(samples)

In [5]:
dfa

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[140 rows x 5 columns]

In [6]:
dfa_test.shape

(10, 5)

In [7]:
cols = list(dfa.columns)

In [9]:
cols.remove('species')

In [10]:
model = DecisionTreeClassifier()
model.fit(dfa[cols], dfa['species'])

DecisionTreeClassifier()

In [11]:
model.predict(dfa_test[cols])

array(['setosa', 'virginica', 'versicolor', 'virginica', 'setosa',
       'setosa', 'setosa', 'versicolor', 'virginica', 'versicolor'],
      dtype=object)

In [12]:
model.score(dfa_test[cols], dfa_test['species'])

0.9