In [12]:
import pandas as pd
import numpy as np
import math

In [3]:
path  ='https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/dc_airbnb.csv'

In [4]:
dfa = pd.read_csv(path)

In [7]:
list(dfa.columns)

['host_response_rate',
 'host_acceptance_rate',
 'host_listings_count',
 'accommodates',
 'room_type',
 'bedrooms',
 'bathrooms',
 'beds',
 'price',
 'cleaning_fee',
 'security_deposit',
 'minimum_nights',
 'maximum_nights',
 'number_of_reviews',
 'latitude',
 'longitude',
 'city',
 'zipcode',
 'state']

In [9]:
dfa.head(5)

,host_response_rate,host_acceptance_rate,host_listings_count,accommodates,room_type,bedrooms,bathrooms,beds,price,cleaning_fee,security_deposit,minimum_nights,maximum_nights,number_of_reviews,latitude,longitude,city,zipcode,state
0,92%,91%,26,4,Entire home/apt,1.0,1.0,2.0,$160.00,$115.00,$100.00,1,1125,0,38.890046,-77.002808,Washington,20003,DC
1,90%,100%,1,6,Entire home/apt,3.0,3.0,3.0,$350.00,$100.00,NaN,2,30,65,38.880413,-76.990485,Washington,20003,DC
2,90%,100%,2,1,Private room,1.0,2.0,1.0,$50.00,NaN,NaN,2,1125,1,38.955291,-76.986006,Hyattsville,20782,MD
3,100%,NaN,1,2,Private room,1.0,1.0,1.0,$95.00,NaN,NaN,1,1125,0,38.872134,-77.019639,Washington,20024,DC
4,92%,67%,1,4,Entire home/apt,1.0,1.0,1.0,$50.00,$15.00,$450.00,7,1125,0,38.996382,-77.041541,Silver Spring,20910,MD

In [10]:
cols_temp = ['host_listings_count', 'accommodates', 'bedrooms', 'bathrooms', 'beds']

In [11]:
dfa[cols_temp]

      host_listings_count  accommodates  bedrooms  bathrooms  beds
0                      26             4       1.0        1.0   2.0
1                       1             6       3.0        3.0   3.0
2                       2             1       1.0        2.0   1.0
3                       1             2       1.0        1.0   1.0
4                       1             4       1.0        1.0   1.0
...                   ...           ...       ...        ...   ...
3718                    1             4       1.0        1.0   2.0
3719                    1             2       1.0        2.0   1.0
3720                    2             6       2.0        1.0   3.0
3721                    1             2       1.0        1.0   1.0
3722                    1             3       0.0        1.0   1.0

[3723 rows x 5 columns]

### Euclidean Distance

difference = (x1-y1) + (x2+y2) + (x3+y3) + (x4+y4) <br>
squared_difference = (x1-y1)^2 + (x2+y2)^2 + (x3+y3)^2 + (x4+y4)^2 <br>
euclidiean distance = sqrt((x1-y1)^2 + (x2+y2)^2 + (x3+y3)^2 + (x4+y4)^2) <br>

In [17]:
np.random.seed(2)

dfb = pd.read_csv(path)

temp_x = dfb['price'].str.replace(',','')
temp_y = temp_x.str.replace('$','')
dfb['price'] = temp_y.astype('float')

dfb['price']

dfb = dfb.loc[np.random.permutation(len(dfb))]

def predict_price(x):
    temp_df = dfb.copy()
    temp_df['distance'] = np.abs(temp_df["accommodates"] - x)
    temp_df = temp_df.sort_values("distance")
    nearest_neighbours = temp_df["price"].head()
    predicted_price = nearest_neighbours.mean()
    return (predicted_price)

c:\users\vaibh\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [18]:
predict_price(5)

139.8

In [19]:
predict_price(10)

525.0

In [20]:
predict_price(3)

294.6