In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split, KFold
from sklearn.neighbors import KNeighborsClassifier as KNN

In [2]:
path = 'https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/iris.csv'

dfa = pd.read_csv(path)

In [3]:
dfa

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
flower_1 = dfa.iloc[50]
flower_2 = dfa.iloc[100]

In [5]:
dfa = dfa.drop([50])
dfa = dfa.drop([100])

In [6]:
dfa

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[148 rows x 5 columns]

In [7]:
list(dfa.columns)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [8]:
model = KNN(n_neighbors = 5)
model.fit(X=dfa[['petal_width', 'sepal_length']].values, y = dfa['species'])

KNeighborsClassifier()

In [9]:
flowe_1_prediction = model.predict(flower_1[['petal_width', 'sepal_length']].values.reshape((-1,2))) # for prediction data should be in flattened form
# not a 2d array

In [10]:
flowe_1_prediction

array(['versicolor'], dtype=object)

In [11]:
flower_1

sepal_length           7.0
sepal_width            3.2
petal_length           4.7
petal_width            1.4
species         versicolor
Name: 50, dtype: object

In [12]:
flowe_2_prediction = model.predict(flower_2[['petal_width', 'sepal_length']].values.reshape((-1,2))) # for prediction data should be in flattened form
# not a 2d array

In [13]:
flowe_2_prediction

array(['virginica'], dtype=object)