# Multiclass
## We chose a single category as a positive case and group al the other categories as negative case.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, KFold

In [2]:
path = "https://raw.githubusercontent.com/shobhit-nigam/knowledgeclan/main/datasets/cars.csv"

In [3]:
dfa = pd.read_csv(path)

In [4]:
dfa.shape

(392, 8)

In [5]:
list(dfa.columns)

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'year',
 'origin']

In [6]:
dfa.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,1
1,15.0,8,350.0,165.0,3693.0,11.5,70,1
2,18.0,8,318.0,150.0,3436.0,11.0,70,1
3,16.0,8,304.0,150.0,3433.0,12.0,70,1
4,17.0,8,302.0,140.0,3449.0,10.5,70,1

In [7]:
dfa['origin'].value_counts()

1    245
3     79
2     68
Name: origin, dtype: int64

In [8]:
dfa_one_hot_encoded = pd.get_dummies(dfa, columns=['cylinders', 'year'])

In [9]:
dfa_one_hot_encoded

,mpg,displacement,horsepower,weight,acceleration,origin,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,year_73,year_74,year_75,year_76,year_77,year_78,year_79,year_80,year_81,year_82
0,18.0,307.0,130.0,3504.0,12.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15.0,350.0,165.0,3693.0,11.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18.0,318.0,150.0,3436.0,11.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16.0,304.0,150.0,3433.0,12.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,302.0,140.0,3449.0,10.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,27.0,140.0,86.0,2790.0,15.6,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
388,44.0,97.0,52.0,2130.0,24.6,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
389,32.0,135.0,84.0,2295.0,11.6,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
390,28.0,120.0,79.0,2625.0,18.6,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
391,31.0,119.0,82.0,2720.0,19.4,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
dfa_one_hot_encoded

,mpg,displacement,horsepower,weight,acceleration,origin,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,year_73,year_74,year_75,year_76,year_77,year_78,year_79,year_80,year_81,year_82
0,18.0,307.0,130.0,3504.0,12.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,15.0,350.0,165.0,3693.0,11.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,18.0,318.0,150.0,3436.0,11.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16.0,304.0,150.0,3433.0,12.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17.0,302.0,140.0,3449.0,10.5,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,27.0,140.0,86.0,2790.0,15.6,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
388,44.0,97.0,52.0,2130.0,24.6,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
389,32.0,135.0,84.0,2295.0,11.6,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
390,28.0,120.0,79.0,2625.0,18.6,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
391,31.0,119.0,82.0,2720.0,19.4,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
list(dfa_one_hot_encoded.columns)

['mpg',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'origin',
 'cylinders_3',
 'cylinders_4',
 'cylinders_5',
 'cylinders_6',
 'cylinders_8',
 'year_70',
 'year_71',
 'year_72',
 'year_73',
 'year_74',
 'year_75',
 'year_76',
 'year_77',
 'year_78',
 'year_79',
 'year_80',
 'year_81',
 'year_82']

In [12]:
dfa = dfa_one_hot_encoded.sample(frac=1)

In [13]:
dfa

,mpg,displacement,horsepower,weight,acceleration,origin,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,year_73,year_74,year_75,year_76,year_77,year_78,year_79,year_80,year_81,year_82
164,13.0,302.0,129.0,3169.0,12.0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
141,26.0,97.0,78.0,2300.0,14.5,2,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
34,17.0,250.0,100.0,3329.0,15.5,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
382,26.0,156.0,92.0,2585.0,14.5,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
231,29.0,97.0,78.0,1940.0,14.5,2,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,32.0,83.0,61.0,2003.0,19.0,3,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
260,19.2,305.0,145.0,3425.0,13.2,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
44,18.0,258.0,110.0,2962.0,13.5,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
98,18.0,232.0,100.0,2945.0,16.0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
306,33.5,151.0,90.0,2556.0,13.2,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
train = dfa.iloc[0:275]

In [15]:
test = dfa.iloc[275:]

In [16]:
# NA = 1
# Europe = 2
# Asia = 3

In [17]:
# NA is positive (1) and european and asia cars are considered negative(0)
# Europe is positive (1) and NA and asia cars are considered negative(0)
# Asia is positive (1) and european and NA cars are considered negative(0)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
unique_origins = dfa["origin"].unique()
unique_origins.sort()

In [20]:
models = {}
features = [x for x in train.columns if x.startswith("cyl") or x.startswith("year")]

for origin in unique_origins:
    model = LogisticRegression()
    
    X_train = train[features]
    y_train = train["origin"] == origin
    
    model.fit(X_train, y_train)
    models[origin] = model

In [21]:
testing_probs = pd.DataFrame(columns=unique_origins)

for origin in unique_origins:
    
    X_test = test[features]
    
    testing_probs[origin] = models[origin].predict_proba(X_test)[:, 1]

In [22]:
testing_probs

            1         2         3
0    0.261542  0.348729  0.381112
1    0.921175  0.065331  0.036429
2    0.337272  0.465720  0.181894
3    0.384137  0.337934  0.259265
4    0.394380  0.277727  0.312867
..        ...       ...       ...
112  0.329360  0.304680  0.354176
113  0.969537  0.017201  0.029199
114  0.869508  0.080257  0.057807
115  0.844640  0.129693  0.037511
116  0.522428  0.290205  0.177415

[117 rows x 3 columns]

In [23]:
predicted_origin = testing_probs.idxmax(axis = 1)

In [24]:
predicted_origin

0      3
1      1
2      2
3      1
4      1
      ..
112    3
113    1
114    1
115    1
116    1
Length: 117, dtype: int64

In [25]:
test["predicted_origin"] = list(predicted_origin)

c:\users\vaibh\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [26]:
test

,mpg,displacement,horsepower,weight,acceleration,origin,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,year_74,year_75,year_76,year_77,year_78,year_79,year_80,year_81,year_82,predicted_origin
82,28.0,98.0,80.0,2164.0,15.0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3
281,20.2,232.0,90.0,3265.0,18.2,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
119,19.0,121.0,112.0,2868.0,15.5,2,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
52,31.0,71.0,65.0,1773.0,19.0,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
238,30.5,97.0,78.0,2190.0,14.1,2,0,1,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,32.0,83.0,61.0,2003.0,19.0,3,0,1,0,0,...,1,0,0,0,0,0,0,0,0,3
260,19.2,305.0,145.0,3425.0,13.2,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
44,18.0,258.0,110.0,2962.0,13.5,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
98,18.0,232.0,100.0,2945.0,16.0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
306,33.5,151.0,90.0,2556.0,13.2,1,0,1,0,0,...,0,0,0,0,0,1,0,0,0,1

In [27]:
len(test[test['origin'] == test['predicted_origin']])

83